.example-card{
    width:500px;
    margin-left: 400px;
    /* margin-top: 20px; */
    padding:10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 70px;
    
    /* background-color: #3f51b513; */
}
.detbtn{
   background-color: #3F51B5;
   color:white
}

.bodytag{
    margin-top: 0;
    height: full;
    width:100%;
    background-color: #3f51b50c;
    padding:20px
}


  