<mat-card class="banner">
    <div class="overlay"></div>
    <div class="bdiv">
        <p class="font1">About</p>
        <br/>
        <p class="font2">Want to know More..</p>  
    </div>
    <span>
        <button mat-button routerLink="/explore"><h4>Explore</h4></button>
    </span>    
</mat-card>

<mat-grid-list cols="2" rowHeight="500px" class="maingrid" >
    
      <mat-grid-tile class="content">
        <span class="iconspan"><mat-icon  class="book" aria-hidden="false" aria-label="Example home icon" fontIcon="menu_book"></mat-icon></span>
      <span class="contentspan">
        <p>Welcome to ReadHorizon, your ultimate destination for discovering, exploring, and sharing a love for books. Whether you're a casual reader or a passionate book lover, ReadHorizon provides a rich platform where you can delve into book reviews, learn about your favorite authors, and explore detailed insights about thousands of books.</p>
      </span>
      
        </mat-grid-tile>
        <mat-grid-tile class="image">
            <img style="width:400px;height:400px;border-radius: 50%; " src="/assets/images/homesideimage.jpg" />
            
              </mat-grid-tile>
    
  </mat-grid-list>
  


  <mat-grid-list cols="4"  rowHeight="500px" >
    
    <mat-grid-tile >
      <div class="divsec">
        <span class="sectionspan"><mat-icon  class="sectionicon" aria-hidden="false" aria-label="Example home icon" fontIcon="visibility"></mat-icon></span>
        <span class="txtspan"><p>Discover what other readers are saying about this book. Read reviews to get a better understanding of the book's reception and find out if it's right for you.</p></span>
    </div>
      </mat-grid-tile>
      <mat-grid-tile >
        
        <div class="divsec">
          <span class="sectionspan"><mat-icon  class="sectionicon" aria-hidden="false" aria-label="Example home icon" fontIcon="description"></mat-icon></span>
          <span class="txtspan"><p>Get an overview of the book's plot, themes, and key points. This description will give you a glimpse into the story and help you decide if it piques your interest."</p></span>
      </div>

        </mat-grid-tile>
        <mat-grid-tile>
          <div class="divsec">
              <span class="sectionspan"><mat-icon  class="sectionicon" aria-hidden="false" aria-label="Example home icon" fontIcon="class"></mat-icon></span>
              <span class="txtspan"><p>Dive into the full text of the book. Enjoy reading the book directly from our platform, and immerse yourself in the complete story.</p></span>
          </div>
          
          </mat-grid-tile>
          <mat-grid-tile >

            <div class="divsec">
              <span class="sectionspan"><mat-icon  class="sectionicon" aria-hidden="false" aria-label="Example home icon" fontIcon="explore"></mat-icon></span>
              <span class="txtspan"><p>Explore additional content related to the book, such as similar books, author details, or related genres. Find more to read based on your interests and preferences.</p></span>
          </div>
            </mat-grid-tile>
      
  
</mat-grid-list>


<mat-grid-list cols="2" rowHeight="500px" class="maingrid" >


    <mat-grid-tile class="image">
        <img style="width:400px;height:400px;border-radius: 50%; " src="https://images.unsplash.com/photo-1465433045946-ba6506ce5a59?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" />
        
          </mat-grid-tile>
    
    <mat-grid-tile class="content">
      <span class="iconspan"><mat-icon  class="book" aria-hidden="false" aria-label="Example home icon" fontIcon="sync_saved_locally"></mat-icon></span>
    <span class="contentspan2">
      <p>Our mission is to connect readers with stories that inspire, educate, and entertain. At ReadHorizon, we believe in the power of reading to expand horizons and fuel creativity. That’s why we’ve created a space where readers can come together to share their thoughts and opinions through book reviews, ratings, and recommendations.</p>
    </span>
    
      </mat-grid-tile>
     
  
</mat-grid-list>


<mat-grid-list cols="1" rowHeight="50px" class="footer" >
    
    <mat-grid-tile >
        <p>&copy; 2024 ReadHorizon. All rights reserved.</p>
      </mat-grid-tile>
      
</mat-grid-list>
      
  


