<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/home">
        <mat-icon  class="menu_bookicon" aria-hidden="false" aria-label="Example home icon" fontIcon="menu_book"></mat-icon>
      </button>
    <span class="logo">ReadHorizon</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/explore">Explore</button>
    
  </mat-toolbar>
  