.banner{
    background-image: url("/assets/images/banner.jpg");
    background-size: cover;
    background-position: center;
    height:583px;
    opacity:2;
    position:relative;
    z-index: -2;
    margin-top: 64px;
    

}

.bdiv{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 200px;
    z-index: 1;
}

.font1{
   font-size: 150px; 
}

.font2{
    font-size: 40px; 
 }

 .overlay{
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    width:100%;
    height:100%;
    opacity:0.5;
    z-index: -1;
 }